aws_region            = "ap-southeast-1"
public_subnet_cidrs   = ["10.30.1.0/24", "10.30.2.0/24"]
private_subnet_cidrs  = ["10.30.11.0/24", "10.30.12.0/24"]

db_username = "change-me"
db_password = "change-me"

client_url     = "https://closecount.example.com"
jwt_secret_arn = "arn:aws:secretsmanager:ap-southeast-1:123456789012:secret:closecount-prod-jwt"

codestar_connection_arn = "arn:aws:codestar-connections:ap-southeast-1:123456789012:connection/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
repo_owner              = "phonist"
repo_name               = "close_count"
repo_branch             = "main"
react_app_api_url       = "https://api.closecount.example.com"
react_app_host          = "closecount.example.com"

# domain_name      = "closecount.example.com"
# hosted_zone_name = "closecount.example.com"
